body {
  font-weight: 300;
  min-width: 750px;
}

h2 {
  text-align: center;
  font-weight: 300;
}

.container {
  max-width: 750px;
}

.container .row {
  margin-right: 0;
  margin-left: 0;
}


/* Header
-------------------------------------------------- */

.jumbotron {
  position: relative;
  text-align: center;
  border-radius: 0;
  background-color: #eee;
}

.jumbotron h1 {
  font-size: 54px;
  font-weight: 300;
  letter-spacing: -1px;
}

.jumbotron:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  content: "";
  height: 30px;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.07));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.07));
}

.jumbotron p a,
.jumbotron-links a {
  font-weight: 500;
}

.jumbotron-links {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}

.jumbotron-links li {
  display: inline;
}

.jumbotron-links li + li {
  margin-left: 20px;
}


/* Navigation
-------------------------------------------------- */

.nav-tabs li a {
  font-weight: 500;
}


/* How to use
-------------------------------------------------- */

.how-to .container {
  max-width: 600px;
}

.how-to h2 {
  margin-bottom: 40px;
}

.how-to {
  padding: 40px 20px;
  border-top: 1px solid #eee;
  font-size: 16px;
  margin-top: 50px;
}

.how-to li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.how-to strong {
  font-weight: 500;
}

/* Footer
-------------------------------------------------- */

.footer {
  padding: 50px 30px;
  color: #777;
  text-align: center;
  border-top: 1px solid #eee;
}


/* Keyboard
-------------------------------------------------- */

#the-keyboard {
  width: 690px;
  height: 440px;
  margin: 20px 0;
  text-align: center;
}

#select-key .btn-group {
  margin-bottom: 20px;
}

@media print {
  .jumbotron,
  .how-to,
  .footer,
  button { display: none; }
}
