body {
  min-width: 750px;
}

h2 {
  text-align: center;
  font-weight: 300;
}

.container {
  max-width: 750px;
}

.container .row {
  margin-right: 0;
  margin-left: 0;
}


/* Header
-------------------------------------------------- */

.jumbotron {
  position: relative;
  text-align: center;
  border-radius: 0;
  background-color: #eee;
  padding: 3rem 2rem;
}

.jumbotron-links {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
}

.jumbotron-links li {
  display: inline;
}

.jumbotron-links li + li {
  margin-left: 20px;
}

/* How to use
-------------------------------------------------- */

.how-to .container {
  max-width: 600px;
}

.how-to li {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Footer
-------------------------------------------------- */

footer {
  color: #777;
  text-align: center;
  font-size: 80%;
}


/* Keyboard
-------------------------------------------------- */

#the-keyboard {
  width: 690px;
  height: 440px;
  margin: 20px 0;
  text-align: center;
}

@media print {
  .jumbotron,
  .how-to,
  .footer,
  button { display: none; }
}
