body {
  min-width: 750px;
}

h2 {
  text-align: center;
  font-weight: 300;
}

.container {
  max-width: 750px;
}

.container .row {
  margin-right: 0;
  margin-left: 0;
}

.how-to .container {
  max-width: 600px;
}

.how-to li {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  color: #777;
  text-align: center;
  font-size: 80%;
}

#the-keyboard {
  width: 690px;
  height: 440px;
  margin: 20px 0;
  text-align: center;
}

@media print {
  .jumbotron,
  .how-to,
  .footer,
  button { display: none; }
}
